@use "../globals/" as *;

.catcher__item {
  margin-top: 40px;
  & > h2 {
    font-weight: bold;
    padding: 5px;
    margin-bottom: 0;
  }
  &__p {
    position: relative;
    & > p {
      padding: 5px;
      font-weight: bold;
      opacity: 0;
      margin-bottom: 0;
    }
  }
}




.about__item {
  &__content {
    &__text {
      position: relative;
      overflow: hidden;
      height: 600px;
      & p {
        margin-left: 30px;
        @include mq(lg) {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.works__item {
  position: relative;
  height: 340px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  &__design, &__installation, &__maintenance, &__fabrication {
    position: relative;
    width: 130px;
    height: 130px;
  }
}

.project__item {
  text-align: center;
  &__card {
    display: flex;
    flex-direction: column;
    @include mq(lg) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      & .card-trip {
        width: 49%;
      }
    }
  }
}


.contact__item {
  display: flex;
  flex-direction: column;
  &__text {
    position: relative;
    &__box {
      height: 280px;
      position: relative;
      margin-left: 30px;
      text-align: left;
      & h4 {
        font-size: 28px;
        margin-bottom: 40px;
        font-weight: bold;
      }
      & p {
        font-size: 16px;
        margin-bottom: 3px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  @include mq(lg) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    & iframe {
      width: 49%;
    }
    &__text {
      width: 49%;
      & > h2 {
        margin-bottom: 30px;
      }
      & > p {
        scale: 1.25rem;
      }
    }
  }
}

#about {
  padding-top: 20px;
}

#works {
  padding-top: 20px;
}

#projects {
  padding-top: 20px;
}

#contact {
  padding-top: 20px;
}
