@use "../globals/index" as *;
@use "../globals/mq" as *;
@use "../globals/variables" as *;

.card-project {
  margin: 0 auto;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  transition: all 0.5s;
  & img {
    height: 100%;
    width: 120px;
    object-fit: cover;
    margin-right: 15px;
  }
  & h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-align: left;
  }
  & p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  & .card-project-infos {
    padding: 16px;
  }
}

.card-works {
  cursor: pointer;
  position: relative;
  background-color: #fff;
  height: 130px;
  width: 130px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  margin-bottom: 16px;
  overflow: hidden;
  &__img {
    display: inline-block;
    width: 80px;
    margin: 0 auto;
    }
  &__text {
    width: 120px;
    text-align: center;
  }
}

.card-trip {
  margin-bottom: 16px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  & > img {
    height: 260px;
    width: 100%;
    object-fit: cover;
  }
  & h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  & p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
  & .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
}
