#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  & > .loading-neon {
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display : flex ;
    justify-content : center ;
    align-items : center ;
    position : relative ;
    text-decoration : none ;
    width : 240px ;
    height : 64px ;
    font-size : 24px ;
    color : #555 ;
    letter-spacing : 8px ;
    font-family: 'Kite One', sans-serif;
    text-shadow : 1px 1px 2px transparent,
      -1px -1px 2px transparent,
      -1px 1px 2px transparent,
      1px -1px 2px transparent,
      1px 1px 30px var(--color_4),
      -1px -1px 30px var(--color_4),
      -1px 1px 30px var(--color_4),
      1px -1px 30px var(--color_4),
      1px 1px 50px var(--color_6),
      -1px -1px 50px var(--color_6),
      -1px 1px 50px var(--color_6),
      1px -1px 50px var(--color_6);
    box-sizing : border-box ;
    border-radius : 12px ;
    border : solid 2px #555 ;
    box-shadow : 0 0 4px transparent,
      0 0 4px transparent inset,
      0 0 20px var(--color_4),
      0 0 20px var(--color_4) inset,
      0 0 48px var(--color_6),
      0 0 64px var(--color_6) inset;
    animation : lights 1.4s linear ;
    animation-fill-mode : forwards ;
    animation-delay: 0s;

    & h1 {
      margin-bottom: 0;
    }
    &.neon-red {
        --color_1 : rgba(255,100,255,.8) ;
        --color_2 : rgba(255,100,255,.6)  ;
        --color_3 : rgba(255,100,255,.3) ;
        --color_4 : rgba(255,100,255,0)   ;
        --color_5 : rgba(255,20,100,.5) ;
        --color_6 : rgba(255,20,100,0)  ;
    }
  }
  @keyframes lights {
    0%{
        box-shadow : 0 0 4px transparent,
        0 0 4px transparent inset,
        0 0 20px var(--color_4),
        0 0 20px var(--color_4) inset,
        0 0 48px var(--color_6),
        0 0 64px var(--color_6) inset;
        text-shadow : 1px 1px 2px transparent,
        -1px -1px 2px transparent,
        -1px 1px 2px transparent,
        1px -1px 2px transparent,
        1px 1px 30px var(--color_4),
        -1px -1px 30px var(--color_4),
        -1px 1px 30px var(--color_4),
        1px -1px 30px var(--color_4),
        1px 1px 50px var(--color_6),
        -1px -1px 50px var(--color_6),
        -1px 1px 50px var(--color_6),
        1px -1px 50px var(--color_6);
        color : #555 ;
        border-color : #555 ;
    }
    2%{
        box-shadow : 0 0 4px transparent,
        0 0 4px transparent inset,
        0 0 20px var(--color_4),
        0 0 20px var(--color_4) inset,
        0 0 48px var(--color_6),
        0 0 64px var(--color_6) inset;
        text-shadow : 1px 1px 2px transparent,
        -1px -1px 2px transparent,
        -1px 1px 2px transparent,
        1px -1px 2px transparent,
        1px 1px 30px var(--color_4),
        -1px -1px 30px var(--color_4),
        -1px 1px 30px var(--color_4),
        1px -1px 30px var(--color_4),
        1px 1px 50px var(--color_6),
        -1px -1px 50px var(--color_6),
        -1px 1px 50px var(--color_6),
        1px -1px 50px var(--color_6);
        color : #555 ;
        border-color : #555 ;
    }
    3%{
        box-shadow : 0 0 4px var(--color_1),
        0 0 4px var(--color_1) inset,
        0 0 20px var(--color_2),
        0 0 20px var(--color_2) inset,
        0 0 48px var(--color_5),
        0 0 64px var(--color_5) inset;
        text-shadow : 1px 1px 2px var(--color_1),
        -1px -1px 2px var(--color_1),
        -1px 1px 2px var(--color_1),
        1px -1px 2px var(--color_1),
        1px 1px 30px var(--color_3),
        -1px -1px 30px var(--color_3),
        -1px 1px 30px var(--color_3),
        1px -1px 30px var(--color_3),
        1px 1px 50px var(--color_5),
        -1px -1px 50px var(--color_5),
        -1px 1px 50px var(--color_5),
        1px -1px 50px var(--color_5);
        color : #fff ;
        border-color : #fff ;
    }
    5%{
        box-shadow : 0 0 4px var(--color_1),
        0 0 4px var(--color_1) inset,
        0 0 20px var(--color_2),
        0 0 20px var(--color_2) inset,
        0 0 48px var(--color_5),
        0 0 64px var(--color_5) inset;
        text-shadow : 1px 1px 2px var(--color_1),
        -1px -1px 2px var(--color_1),
        -1px 1px 2px var(--color_1),
        1px -1px 2px var(--color_1),
        1px 1px 30px var(--color_3),
        -1px -1px 30px var(--color_3),
        -1px 1px 30px var(--color_3),
        1px -1px 30px var(--color_3),
        1px 1px 50px var(--color_5),
        -1px -1px 50px var(--color_5),
        -1px 1px 50px var(--color_5),
        1px -1px 50px var(--color_5);
        color : #fff ;
        border-color : #fff ;
    }
    6%{
        box-shadow : 0 0 4px transparent,
        0 0 4px transparent inset,
        0 0 20px var(--color_4),
        0 0 20px var(--color_4) inset,
        0 0 48px var(--color_6),
        0 0 64px var(--color_6) inset;
        text-shadow : 1px 1px 2px transparent,
        -1px -1px 2px transparent,
        -1px 1px 2px transparent,
        1px -1px 2px transparent,
        1px 1px 30px var(--color_4),
        -1px -1px 30px var(--color_4),
        -1px 1px 30px var(--color_4),
        1px -1px 30px var(--color_4),
        1px 1px 50px var(--color_6),
        -1px -1px 50px var(--color_6),
        -1px 1px 50px var(--color_6),
        1px -1px 50px var(--color_6);
        color : #555 ;
        border-color : #555 ;
    }
    12%{
        box-shadow : 0 0 4px transparent,
        0 0 4px transparent inset,
        0 0 20px var(--color_4),
        0 0 20px var(--color_4) inset,
        0 0 48px var(--color_6),
        0 0 64px var(--color_6) inset;
        text-shadow : 1px 1px 2px transparent,
        -1px -1px 2px transparent,
        -1px 1px 2px transparent,
        1px -1px 2px transparent,
        1px 1px 30px var(--color_4),
        -1px -1px 30px var(--color_4),
        -1px 1px 30px var(--color_4),
        1px -1px 30px var(--color_4),
        1px 1px 50px var(--color_6),
        -1px -1px 50px var(--color_6),
        -1px 1px 50px var(--color_6),
        1px -1px 50px var(--color_6);
        color : #555 ;
        border-color : #555 ;
    }
    13%{
        box-shadow : 0 0 4px var(--color_1),
        0 0 4px var(--color_1) inset,
        0 0 20px var(--color_2),
        0 0 20px var(--color_2) inset,
        0 0 48px var(--color_5),
        0 0 64px var(--color_5) inset;
        text-shadow : 1px 1px 2px var(--color_1),
        -1px -1px 2px var(--color_1),
        -1px 1px 2px var(--color_1),
        1px -1px 2px var(--color_1),
        1px 1px 30px var(--color_3),
        -1px -1px 30px var(--color_3),
        -1px 1px 30px var(--color_3),
        1px -1px 30px var(--color_3),
        1px 1px 50px var(--color_5),
        -1px -1px 50px var(--color_5),
        -1px 1px 50px var(--color_5),
        1px -1px 50px var(--color_5);
        color : #fff ;
        border-color : #fff ;
    }
    14%{
        box-shadow : 0 0 4px var(--color_1),
        0 0 4px var(--color_1) inset,
        0 0 20px var(--color_2),
        0 0 20px var(--color_2) inset,
        0 0 48px var(--color_5),
        0 0 64px var(--color_5) inset;
        text-shadow : 1px 1px 2px var(--color_1),
        -1px -1px 2px var(--color_1),
        -1px 1px 2px var(--color_1),
        1px -1px 2px var(--color_1),
        1px 1px 30px var(--color_3),
        -1px -1px 30px var(--color_3),
        -1px 1px 30px var(--color_3),
        1px -1px 30px var(--color_3),
        1px 1px 50px var(--color_5),
        -1px -1px 50px var(--color_5),
        -1px 1px 50px var(--color_5),
        1px -1px 50px var(--color_5);
        color : #fff ;
        border-color : #fff ;
    }
    17%{
        box-shadow : 0 0 4px transparent,
        0 0 4px transparent inset,
        0 0 20px var(--color_4),
        0 0 20px var(--color_4) inset,
        0 0 48px var(--color_6),
        0 0 64px var(--color_6) inset;
        text-shadow : 1px 1px 2px transparent,
        -1px -1px 2px transparent,
        -1px 1px 2px transparent,
        1px -1px 2px transparent,
        1px 1px 30px var(--color_4),
        -1px -1px 30px var(--color_4),
        -1px 1px 30px var(--color_4),
        1px -1px 30px var(--color_4),
        1px 1px 50px var(--color_6),
        -1px -1px 50px var(--color_6),
        -1px 1px 50px var(--color_6),
        1px -1px 50px var(--color_6);
        color : #555 ;
        border-color : #555 ;
    }
    40%{
        box-shadow : 0 0 4px transparent,
        0 0 4px transparent inset,
        0 0 20px var(--color_4),
        0 0 20px var(--color_4) inset,
        0 0 48px var(--color_6),
        0 0 64px var(--color_6) inset;
        text-shadow : 1px 1px 2px transparent,
        -1px -1px 2px transparent,
        -1px 1px 2px transparent,
        1px -1px 2px transparent,
        1px 1px 30px var(--color_4),
        -1px -1px 30px var(--color_4),
        -1px 1px 30px var(--color_4),
        1px -1px 30px var(--color_4),
        1px 1px 50px var(--color_6),
        -1px -1px 50px var(--color_6),
        -1px 1px 50px var(--color_6),
        1px -1px 50px var(--color_6);
        color : #555 ;
        border-color : #555 ;
    }
    41%{
        box-shadow : 0 0 4px var(--color_1),
        0 0 4px var(--color_1) inset,
        0 0 20px var(--color_2),
        0 0 20px var(--color_2) inset,
        0 0 48px var(--color_5),
        0 0 64px var(--color_5) inset;
        text-shadow : 1px 1px 2px var(--color_1),
        -1px -1px 2px var(--color_1),
        -1px 1px 2px var(--color_1),
        1px -1px 2px var(--color_1),
        1px 1px 30px var(--color_3),
        -1px -1px 30px var(--color_3),
        -1px 1px 30px var(--color_3),
        1px -1px 30px var(--color_3),
        1px 1px 50px var(--color_5),
        -1px -1px 50px var(--color_5),
        -1px 1px 50px var(--color_5),
        1px -1px 50px var(--color_5);
        color : #fff ;
        border-color : #fff ;
    }
    100%{
        box-shadow : 0 0 4px var(--color_1),
        0 0 4px var(--color_1) inset,
        0 0 20px var(--color_2),
        0 0 20px var(--color_2) inset,
        0 0 48px var(--color_5),
        0 0 64px var(--color_5) inset;
        text-shadow : 1px 1px 2px var(--color_1),
        -1px -1px 2px var(--color_1),
        -1px 1px 2px var(--color_1),
        1px -1px 2px var(--color_1),
        1px 1px 30px var(--color_3),
        -1px -1px 30px var(--color_3),
        -1px 1px 30px var(--color_3),
        1px -1px 30px var(--color_3),
        1px 1px 50px var(--color_5),
        -1px -1px 50px var(--color_5),
        -1px 1px 50px var(--color_5),
        1px -1px 50px var(--color_5);
        color : #fff ;
        border-color : #fff ;
    }
  }
  & > .loading-logo {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}
