.projectlist__year {
  // left: 50%;
  // position: relative;
  // transform: translateX(25%);
  padding:auto 0;
  list-style: none;
  padding-left: 0;
  text-align: left;
  & > li {
    font-size: 1.3rem;
  }
}

.projectlist__content {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  & > li {
    font-size: 0.95rem;
  }
}
