@import url("https://fonts.googleapis.com/css2?family=Coda&family=Lora:ital,wght@0,400;0,700;1,400&family=Noto+Sans+HK:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
.hamburger {
  cursor: pointer;
}
@media screen and (min-width: 960px) {
  .hamburger {
    display: none;
  }
}
.hamburger span {
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  display: block;
  position: relative;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}
@media screen and (min-width: 960px) {
  .hamburger span {
    width: 35px;
    height: 2px;
    margin-bottom: 9px;
  }
}
.hamburger span:last-child {
  margin-bottom: 0;
}
.hamburger.menu-open > span:nth-child(1) {
  width: 20px;
  transform: translateY(6px) rotate(-45deg);
}
@media screen and (min-width: 960px) {
  .hamburger.menu-open > span:nth-child(1) {
    width: 40px;
    transform: translateY(11px) rotate(-45deg);
  }
}
.hamburger.menu-open > span:nth-child(2) {
  width: 20px;
  transform: rotate(45deg);
}
@media screen and (min-width: 960px) {
  .hamburger.menu-open > span:nth-child(2) {
    width: 40px;
    transform: translateY(11px) rotate(-45deg);
  }
}
.hamburger.menu-open > span:nth-child(3) {
  width: 20px;
  transform: translateY(-6px) rotate(45deg);
}
@media screen and (min-width: 960px) {
  .hamburger.menu-open > span:nth-child(3) {
    width: 40px;
    transform: translateY(11px) rotate(-45deg);
  }
}

.hamburger-hidden {
  display: none;
  position: relative;
  position: fixed;
  z-index: 90;
  height: 100vh;
  width: 100%;
  text-align: center;
  transition: all 0.8s ease-in-out;
}
.hamburger-hidden__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hamburger-hidden__content > .list-none {
  list-style: none;
  padding-left: 0;
}
.hamburger-hidden__content > .list-none > li {
  margin: 15px;
  font-size: 1.5rem;
  color: white;
}
.hamburger-hidden__content > .list-none > li > a {
  text-decoration: none;
  color: white;
}
.hamburger-hidden__content > .list-none > li > a:hover {
  color: black;
}
.hamburger-hidden.menu-open {
  display: inline-block;
}

.navbar {
  height: 40px;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 960px) {
  .navbar {
    height: 70px;
  }
}
.navbar img {
  height: 100%;
}
.navbar.menu-open {
  box-shadow: none;
}

.navbar-menu {
  display: none;
}
@media screen and (min-width: 960px) {
  .navbar-menu {
    display: block;
  }
}
.navbar-menu .list-inline {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.navbar-menu .list-inline > li {
  display: inline-block;
  font-size: 1.5rem;
  color: white;
  margin-right: 20px;
}
.navbar-menu .list-inline > li > a {
  text-decoration: none;
  color: white;
}
.navbar-menu .list-inline > li > a:hover {
  color: black;
}

.bg-red {
  background-color: #fc0805;
}

.bg-grey {
  background-color: #d9d9d9;
}

h1, h2, h3 {
  font-family: "Coda", "Lora", serif, "Noto Sans JP", "Noto Sans HK", sans-serif;
}

a {
  font-family: "Coda", "Lora", serif, "Noto Sans JP", "Noto Sans HK", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  font-family: "Lora", "Coda", "Noto Sans JP", serif, "Noto Sans HK", sans-serif;
  font-size: 1.2rem;
}

li {
  font-family: "Coda", "Noto Sans JP", "Lora", serif, "Noto Sans HK", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}
li i {
  color: #fc0805;
}

.fa-phone-volume {
  transform: rotate(-45deg);
}

.container {
  width: 300px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 30px;
}

.mainvisual {
  background-image: url(../../Images/mainvisual.jpeg);
  height: 100vh;
  background-size: cover;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
}
.mainvisual::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.mainvisual__item__textbox {
  overflow: hidden;
  height: 60vh;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}
.mainvisual__item__textbox span.side {
  content: "";
  background-color: white;
  height: 6px;
  width: 100%;
  position: absolute;
}
.mainvisual__item__textbox span.side.bd-top {
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all 1s ease;
  animation-name: bd-side-transition;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes bd-side-transition {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.mainvisual__item__textbox span.side.bd-bottom {
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all 1s ease;
  animation-name: bd-side-transition;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes bd-side-transition {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.mainvisual__item__textbox span.upright {
  content: "";
  background-color: white;
  height: 100%;
  width: 6px;
  position: absolute;
}
.mainvisual__item__textbox span.upright.bd-left {
  top: 0;
  left: 0;
  transition: all 2s ease;
  transform: translateY(-100%);
  animation-name: bd-upright-transition;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes bd-upright-transition {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.mainvisual__item__textbox span.upright.bd-right {
  top: 0;
  right: 0;
  transition: all 1s ease;
  transform: translateY(-100%);
  animation-name: bd-upright-transition;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes bd-upright-transition {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.mainvisual__item__textbox .textarea {
  width: 100%;
  height: 80px;
  overflow: hidden;
}
.mainvisual__item__textbox .textarea h1 {
  transform: translateY(200%);
  font-size: 2.5rem;
  color: white;
  z-index: 2;
  animation-name: appear;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes appear {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(80%);
  }
}
@media screen and (min-width: 960px) {
  @keyframes appear {
    100% {
      transform: translateY(0%);
    }
  }
}

.mainvisual .textarea h1 {
  font-size: 1.4rem;
}
@media screen and (min-width: 960px) {
  .mainvisual .textarea h1 {
    font-size: 3.5rem;
  }
}

.footer {
  text-align: center;
  color: white;
  padding: 20px;
}
.footer img {
  height: 60px;
  width: auto;
  margin: 0 auto;
}
.footer p {
  margin-top: 18px;
}

.card-project {
  margin: 0 auto;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  transition: all 0.5s;
}
.card-project img {
  height: 100%;
  width: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
}
.card-project h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}
.card-project p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}
.card-project .card-project-infos {
  padding: 16px;
}

.card-works {
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 16px;
  overflow: hidden;
}
.card-works h3 {
  font-weight: bold;
  font-size: 1.8rem;
  transition: all 0.5s;
}
.card-works__text {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 0 auto;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all 0.8s ease;
}
.card-works__text > .default {
  display: flex;
  width: 100%;
  height: 180px;
  justify-content: center;
  align-items: center;
}
.card-works__text > .hovering {
  display: flex;
  height: 180px;
  justify-content: center;
  align-items: center;
}
.card-works__text.clicked {
  transform: translateY(-50%);
}
@media screen and (min-width: 960px) {
  .card-works__text:hover {
    transform: translateY(-50%);
  }
}

.card-trip {
  margin-bottom: 16px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.card-trip > img {
  height: 260px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-trip p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
}
.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.section-subtitle {
  text-align: center;
  width: 300px;
  padding: 5px;
  margin: 80px auto 30px auto;
  overflow: hidden;
  position: relative;
}
.section-subtitle h2 {
  font-size: 2.25rem;
  font-weight: bold;
}
.section-subtitle h2:after {
  content: "";
  width: 320px;
  height: 7px;
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-200%);
  background-color: #fc0805;
}
.section-subtitle h2.inview::after {
  animation-name: bar-slide;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes bar-slide {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.button {
  width: 250px;
  margin: 0 auto;
  display: inline-block;
  text-decoration: none;
  padding: 18px 50px;
  border-radius: 5px;
  position: relative;
  color: white;
  cursor: pointer;
  overflow: hidden;
}
.button:hover {
  color: white;
}
.button::after {
  background: #fff;
  content: "";
  height: 200px;
  left: -90px;
  opacity: 0.5;
  position: absolute;
  top: -63px;
  transform: rotate(41deg);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 1;
}
.button:hover:after {
  left: 120%;
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-rotate {
  cursor: pointer;
  transition: all 0.6s ease;
}
.btn-rotate.rotated {
  transform: rotate(90deg);
}

.map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 75%;
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-hidden {
  margin-bottom: 60px;
}

.projectlist__year {
  list-style: none;
  padding-left: 0;
  width: 100%;
  text-align: center;
}
.projectlist__year__item {
  position: relative;
}
.projectlist__year__item .turn-button > i {
  font-size: 2rem;
}
.projectlist__year__item .year {
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  right: 28%;
  transform: translate(50%, -50%);
}
@media screen and (min-width: 960px) {
  .projectlist__year__item .year {
    right: 42%;
  }
}
@media screen and (min-width: 960px) {
  .projectlist__year__item .year {
    right: 43%;
  }
}

.projectlist__content {
  list-style: none;
  padding-left: 0;
  position: absolute;
  top: 0;
  left: -50%;
  width: 400px;
  margin: 0 auto;
}
.projectlist__content > li {
  font-size: 0.95rem;
}

.liststyle-none {
  list-style: none;
  padding-left: 0;
}

.list-content {
  position: relative;
  padding-left: 0;
}
.list-content__divider {
  content: "";
  width: 4px;
  height: 320px;
  display: inline-block;
  margin: 0 auto;
  background-color: #fc0805;
}
@media screen and (min-width: 960px) {
  .list-content__divider {
    height: 250px;
  }
}
.list-content__left {
  overflow: hidden;
  text-align: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-105%, -50%);
}
.list-content__left > ul {
  animation-name: list-slide-left;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.list-content__left > ul > li {
  font-size: 0.78rem;
}
@media screen and (min-width: 960px) {
  .list-content__left > ul > li {
    font-size: 1rem;
  }
}
@keyframes list-slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.list-content__right {
  overflow: hidden;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(35%, -50%);
}
.list-content__right > ul {
  animation-name: list-slide-right;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.list-content__right > ul > li {
  font-size: 0.78rem;
}
@media screen and (min-width: 960px) {
  .list-content__right > ul > li {
    font-size: 1rem;
  }
}
@keyframes list-slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.text-right {
  padding-left: 40%;
  opacity: 0.7;
}

@media screen and (min-width: 960px) {
  .about__item__content__text p {
    font-size: 1.5rem;
  }
}

.works__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 960px) {
  .works__item {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .works__item__design, .works__item__installation, .works__item__maintenance, .works__item__fabrication {
    width: 49%;
  }
}

.project__item {
  text-align: center;
}
.project__item__card {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 960px) {
  .project__item__card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .project__item__card .card-trip {
    width: 49%;
  }
}

.contact__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}
@media screen and (min-width: 960px) {
  .contact__item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50%;
  }
  .contact__item iframe {
    width: 49%;
  }
  .contact__item__text {
    width: 49%;
  }
  .contact__item__text > h3 {
    scale: 1.8rem;
    margin-bottom: 30px;
  }
  .contact__item__text > p {
    scale: 1.25rem;
  }
}
.contact__item__text {
  margin-top: 20px;
  text-align: center;
}

#about {
  padding-top: 20px;
}

#works {
  padding-top: 20px;
}

#projects {
  padding-top: 20px;
}

#contact {
  padding-top: 20px;
}/*# sourceMappingURL=style.css.map */